{
  "_id": "1234567890",
  "vendor_invoice_number": "1234567890",
  "invoice_date": "1975-03-30",
  "total_amount": 100,
  "currency": {
    "value": "USD",
    "desc": "US Dollar"
  },
  "vendor_code": {
    "value": "AutoEDI_MainCode",
    "desc": "AutoEDI_Name"
  },
  "vendor_contact_person": {
    "first_name": "joe",
    "last_name": "z"
  },
  "payment": {
    "prepaid": false,
    "tracking_purpose_only": false,
    "send_to_erp": true,
    "payment_status": "NOT_PAID",
    "date_of_payment": "1975-03-30",
    "final_amount_paid": 0,
    "payment_currency": {
      "value": "USD",
      "desc": "US Dollar"
    }
  },
  "payment_method": {
    "value": "ACCOUNTINGDEPARTMENT",
    "desc": "Accounting Department"
  },
  "created_from": {
    "value": "EDI",
    "desc": "EDIteur Invoice Message"
  },
  "invoice_status": {
    "value": "ACTIVE",
    "desc": "Active"
  },
  "approved_by": "You",
  "additional_charges": {
    "shipment": 0,
    "overhead": 0,
    "insurance": 0,
    "discount": 0,
    "use_pro_rata": false
  },
  "invoice_vat": {
    "taxable": false,
    "vat_percent": 0,
    "type": {
      "value": "INCLUSIVE",
      "desc": "Inclusive"
    },
    "vat_amount": 0,
    "vat_expended_from_fund": true
  },
  "note": "abc",
  "invoice_line": [
    "12356346546",
    "12356346547",
    "12356346548"
  ]
}