{
  "recipients": [
    "recipient1@domain.com",
    "recipient2@domain.com"
  ],
  "cc": [
    "recipient1@domain.com",
    "recipient2@domain.com"
  ],
  "bcc": [
    "recipient1@domain.com",
    "recipient2@domain.com"
  ],
  "sender": "sender.email.address@domain.com",
  "subject": "mail subject",
  "content": {
    "isHTML": true,
    "isText": false,
    "value": "<b>value 1</b> value 2 <i>value 3</i>",
    "isAttachment": true,
    "attachment": {
      "content_type": "text/html",
      "attachment_value": "<b>attach value 1</b> value 2 <i>value 3</i>"
    }
  }
}