{
  "_id": "123123123",
  "invoice_type": {
    "value": "SHIPMENT",
    "desc": "Shipment"
  },
  "status": {
    "value": "INREVIEW",
    "desc": "In-Review"
  },
  "po_line_price": 100,
  "quantity": 1,
  "note": "NE Journal of M. Unit Price :300.33. ISSN :1234-5678",
  "po_line_id": "123456789",
  "total_price": 100,
  "po_line_fully_invoiced": true,
  "additional_info": "",
  "release_remaining_encumbrance": false,
  "invoice_line_vat": {
    "percentage": 0.17,
    "vat_amount": 10
  },
  "funds_to_use": [
    {
      "percent": 66.67,
      "fund_code": {
        "value": "MYFUND",
        "desc": "MYFUND"
      }
    },
    {
      "amount": 10,
      "fund_code": {
        "value": "YOURFUND",
        "desc": "YOURFUND"
      }
    }
  ]
}