{
  "module": "CIRCULATION",
  "name": "validation_rules",
  "description": "validate content",
  "updated_by": "joe",
  "update_date": "2016.06.27.10.56.03",
  "scope": {
    "institution_id" : "aaa",
    "library_id" : "vvv"
  },
  "rows": [
    {
      "code": "PATRON_RULE",
      "description": "for patrons",
      "default": true,
      "enabled": true,
      "value": ""
    }
  ]
}
