{
  "_id": "123456789",
  "po_line_status": {
    "value": "SENT",
    "desc": "sent to vendor"
  },
  "owner": {
    "value": "MITLIBMATH",
    "desc": "Math Library"
  },
  "type": {
    "value": "PRINT_ONETIME",
    "desc": ""
  },
  "vendor": {
    "value": "YBP",
    "desc": ""
  },
  "vendor_account_CODE": "YBP_CODE",
  "acquisition_method_CODE": {
    "value": "VENDOR_SYSTEM",
    "desc": "Purchased at Vendor System"
  },
  "rush": false,
  "price": {
    "sum": "150.0",
    "po_currency": {
      "value": "USD",
      "desc": "US Dollar"
    }
  },
  "fund_distributions": [
    {
      "fund_code": "12345",
      "amount": {
        "sum": 123.5,
        "currency": "USD"
      }
    }
  ],
  "vendor_reference_number": "ybp-1234567890",
  "ebook_url": "",
  "source_type": "API",
  "po_number": "0987654321",
  "invoice_reference": "",
  "resource_metadata": "/abc/v1/bibs/99113721800121",
  "access_provider": "",
  "material_type": "BOOK",
  "block_alert_on_po_line": [
    {
      "value": "FUNDMISS",
      "desc": "Fund is missing"
    }
  ],
  "note": [],
  "location": [],
  "created_date": "",
  "update_date": "",
  "renewal_period": "",
  "renewal_date": ""
}