{
  "createdDate": "2017-07-22T11:22:07Z",
  "createdByUserId": "dee12548-9cee-45fa-bbae-675c1cc0ce3b",
  "createdByUsername": "jaynesmith",
  "updatedDate": "2017-07-27T13:28:54Z",
  "updatedByUserId": "695540df-cf63-4c67-91c1-d8746920d1dd",
  "updatedByUsername": "robertjones"
}
