{
  "instances": [
    {
      "id": "1",
      "title": "first instance",
      "altTitle": "first alternative title",
      "series": "first series",
      "contributor": [],
      "publisher": "first publisher",
      "date": "first date",
      "type": "newsletters",
      "format": "first format",
      "identifier": [
        {
          "type": "first_id_type",
          "value": "first_id_value"
        }
      ],
      "source": "first source",
      "language": [
        "english",
        "french"
      ],
      "rights": "first rights",
      "version": "first version",
      "lastModified": "first lastModified"
    },
    {
      "id": "2",
      "title": "second instance",
      "altTitle": "second alternative title",
      "series": "second series",
      "contributor": [],
      "publisher": "second publisher",
      "date": "second date",
      "type": "reports",
      "format": "second format",
      "identifier": [
        {
          "type": "second_id_type",
          "value": "second_id_value"
        }
      ],
      "source": "second source",
      "language": [
        "english",
        "french"
      ],
      "rights": "second rights",
      "version": "second version",
      "lastModified": "second lastModified"
    }
  ],
  "resultInfo": {
    "totalRecords": 2,
    "responseTime": 8.9,
    "facets": [
      {
        "facetValues": [
          {
            "count": 15,
            "value": "Handey1"
          },
          {
            "count": 10,
            "value": "Handey"
          }
        ],
        "type": "lastName"
      },
      {
        "facetValues": [
          {
            "count": 18,
            "value": "true"
          },
          {
            "count": 7,
            "value": "false"
          }
        ],
        "type": "active"
      }
    ],
    "diagnostics": [
      {
        "source": "mock1",
        "code": "200"
      },
      {
        "source": "mock2",
        "code": "400",
        "message": "unsupported index foo.bar"
      }
    ]
  }
}
