{
  "usergroups": [
    {
      "group": "librarian",
      "desc": "basic lib group",
      "id": "b4b5e97a-0a99-4db9-97df-4fdf406ec74d"
    },
    {
      "group": "on_campus_patrons",
      "desc": "On-campus patrons",
      "id": "4bb563d9-3f9d-4e1e-8d1d-04e75666d68f"
    }
  ],
  "totalRecords": 2
}
