{
  "users": [
    {
      "username": "jhandey",
      "id": "7261ecaae3a74dc68b468e12a70b1aec",
      "active": true,
      "patronGroup": "4bb563d9-3f9d-4e1e-8d1d-04e75666d68f",
      "meta": {
        "creation_date": "2016-11-05T0723",
        "last_login_date": ""
      },
      "personal": {
        "lastName": "Handey",
        "firstName": "Jack",
        "middleName": "Michael",
        "dateOfBirth": "1965-07-08T00:00:01Z",
        "phone": "+1 (212) 567-8912",
        "mobilePhone": "+1 (212) 678-9123",
        "email": "jhandey@biglibrary.org"
      }
    }
  ],
  "totalRecords": 1
}
